name: Publish to pypi
on:
  push:
    tags:
      - 'v*'


jobs:
  pypi-publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/project/mesaPlot/
    permissions:
      id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing
    steps:
    - uses: actions/checkout@v4
      with:
        persist-credentials: false

    - name: Set up Python 
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install build wheel pytest
    - name: Build a binary wheel and a source tarball
      run: >-
        python3 -m build
    - name: Test
      run: |
        python -m pip install dist/mesaplot*.tar.gz
        python -m pytest

    - name: Publish package distributions to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')